body {
    border: 5px groove rgb(192, 190, 190);
    border-radius: 10px;
}

#countLable {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}
#btnContainer {
    text-align: center;
}

.button1 {
    padding: 10px 20px;
    margin-bottom: 10px;
    font-size: 1em;
    color: white;
    background-color: rgb(10, 166, 10);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;

}
.button2 {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: rgb(210, 35, 35);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.button3 {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: rgb(46, 46, 192);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.button1:hover {
    background-color: rgb(10, 123, 10);
    transform: translateY(-1px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.button1:active {
    background-color: rgb(10, 166, 10);
}


.button2:hover {
    background-color: rgb(164, 26, 26);
    transform: translateY(-1px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.button2:active {
    background-color: rgb(210, 35, 35);
}


.button3:hover {
    background-color: rgb(32, 32, 148);
    transform: translateY(-1px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.button3:active {
    background-color:rgb(46, 46, 192);
}